@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --primary-color: #f3f8d8;
  --secondary-color: #141414;
  --accent-color: #99565e;

  color: var(--secondary-color);
}

h1 {
  font-family: 'Lora', serif;
  font-size: 47px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  @media (min-width: 768px) {
    font-size: 90px;
  }
}

h2 {
  font-family: 'Lora', serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  @media (min-width: 768px) {
    font-size: 67px;
  }
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 33px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  @media (min-width: 768px) {
    font-size: 50px;
  }
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  @media (min-width: 768px) {
    font-size: 28px;
  }
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
